@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/pattern-background-mobile.svg");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #e0e8ff;
  height: 100vh;
  font-family: "Red Hat Display";
  display: flex;
  align-items: center;
}

body > div {
  background-color: white;
  max-width: 450px;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}

div img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

section {
  padding: 0 48px 0 48px;
}

h1 {
  font-weight: 900;
  font-size: 28px;
  text-align: center;
  color: #1f2e55;
  margin: 45px 0 17px 0;
}

div section > p:first-of-type {
  line-height: 26px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #717fa6;
  margin: 0 0 20px 0;
}

div section div:first-of-type {
  background-color: #f7f9ff;
  padding: 20px;
  border-radius: 11px;
  display: grid;
  grid-auto-flow: column;
}

div section div:last-of-type strong {
  font-weight: 900;
  font-size: 16px;
  color: #1f2e55;
  line-height: 21.17px;
}

div section div:last-of-type p {
  line-height: 21.17px;
  font-size: 16px;
  color: #717fa6;
}

div section div:last-of-type a {
  text-decoration: underline;
  font-weight: 700;
  font-size: 14px;
  color: #382ae1;
  justify-self: end;
  align-self: center;
}

div section div:last-of-type a:hover {
  text-decoration: none;
  color: #766cf1;
}

.proceed-button {
  display: block;
  background-color: #382ae1;
  margin-top: 30px;
  padding: 15px 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: white;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border-radius: 11px;
}

.proceed-button:hover {
  background-color: #766cf1;
}

.cancel-button {
  display: block;
  margin-top: 32px;
  margin-bottom: 48px;
  text-decoration: none;
  font-weight: 900;
  font-size: 15px;
  text-align: center;
  color: #717fa6;
}

.cancel-button:hover {
  color: #1f2e55;
}

@media only screen and (max-width: 475px) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
  }

  h1 {
    margin-top: 32px;
    font-size: 22px;
  }

  div section > p:first-of-type {
    font-size: 15px;
    line-height: 25px;
  }

  div section div:last-of-type strong {
    font-size: 14px;
    line-height: 19px;
  }

  div section div:last-of-type p {
    font-size: 14px;
    line-height: 19px;
  }

  div section div:last-of-type a {
    font-size: 13px;
  }

  .cancel-button {
    margin-top: 24px;
    margin-bottom: 32px;
  }
}
